<!DOCTYPE HTML>
<hmtl data-ng-app="ViewController">
  <head>
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <link href="deck.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="angular.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->
  </head>

  <body>
    <div class="text">
      <h1>Poker</h1>
    </div>

    <!-- <div data-ng-controller="PlayerRender">
          <img id="{{ dealCommunal.communalCards[0] }}" class="cards"/>
          {{ console.log(dealCommunal.communalCards[0]) }}
          <img id="{{ dealCommunal.communalCards[1] }}" class="cards"/>
          <img id="{{ dealCommunal.communalCards[2] }}" class="cards"/>
          <img id="{{ dealCommunal.communalCards[3] }}" class="cards"/>
          <img id="{{ dealCommunal.communalCards[4] }}" class="cards"/>
    </div> -->

    <div class="player" data-ng-controller="PlayerRender">
      <button ng-click="dealPlayer()">DEAL</button>
          <img id="{{ playerCards[0] }}" class="cards"/><img id="{{ playerCards[1] }}" class="cards"/>
    </div>





  </body>
</hmtl>
