<!DOCTYPE HTML>
<hmtl data-ng-app="ViewController">
  <head>
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <link href="deck.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="angular.js"></script>
  </head>

  <body>
    <div class="text">
      <h1>Card Test Page</h1>
    </div>

    <div data-ng-controller="CardRenderer">
        <div data-ng-repeat="card in cards">
          <img id="{{ card }}" class="cards"/>
        </div>
    </div>

  </body>
</hmtl>
