<!DOCTYPE HTML>
<hmtl>
  <head>
    <script src='../all.js'></script>
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <link href="deck.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="cardPresenter.js"></script>
  </head>

  <body >

    <div class="text">
      <h1>Poker</h1>
    </div>


      <div>
        <h1>Player Hand</h1>
        <img id="card_{{ playerCards[0] }}" class="cards"/>
        <img id="card_{{ playerCards[1] }}" class="cards"/>
      </div>

      <div>
        <h1>Flop</h1>
        <img id="card_{{ communalCards[0] }}" class="cards"/>
        <img id="card_{{ communalCards[1] }}" class="cards"/>
        <img id="card_{{ communalCards[2] }}" class="cards"/>
      </div>

      <div>
        <h1>Turn</h1>
        <img id="card_{{ communalCards[3] }}" class="cards"/>
      </div>

      <div>
        <h1>River</h1>
        <img id="card_{{ communalCards[4] }}" class="cards"/>
      </div>

      <div>
        <h1>Best Hand</h1>
        {{ hand.name }}
        <img id="card_{{ hand.cards[0] }}" class="cards"/>
        <img id="card_{{ hand.cards[1] }}" class="cards"/>
        <img id="card_{{ hand.cards[2] }}" class="cards"/>
        <img id="card_{{ hand.cards[3] }}" class="cards"/>
        <img id="card_{{ hand.cards[4] }}" class="cards"/>
      </div>

    </div>
  </body>
</hmtl>
