/*Diamonds*/
#card_Ad{ background-position: -808px -1395px; }
#card_2d{ background-position: -1010px -1674px; }
#card_3d{ background-position: 0px 0px; }
#card_4d{ background-position: -202px -279px; }
#card_5d{ background-position: -404px -558px; }
#card_6d{ background-position: -606px -837px; }
#card_7d{ background-position: -808px -1116px; }
#card_8d{ background-position: -1010px -1395px; }
#card_9d{ background-position: -1212px -1674px; }
#card_Td{ background-position: -202px 0px; }
#card_Jd{ background-position: -404px -279px; }
#card_Qd{ background-position: -606px -558px; }
#card_Kd{ background-position: -808px -837px; }

/*Hearts*/
#card_Ah{ background-position: -1010px -1116px; }
#card_2h{ background-position: -1212px -1395px; }
#card_3h{ background-position: -1414px -1674px; }
#card_4h{ background-position: -404px 0px; }
#card_5h{ background-position: -606px -279px; }
#card_6h{ background-position: -808px -558px; }
#card_7h{ background-position: -1010px -837px; }
#card_8h{ background-position: -1212px -1116px; }
#card_9h{ background-position: -1414px -1395px; }
#card_Th{ background-position: -1616px -1674px; }
#card_Jh{ background-position: -606px 0px; }
#card_Qh{ background-position: -808px -279px; }
#card_Kh{ background-position: -1010px -558px; }

/*Spades*/
#card_As{ background-position: -1212px -837px; }
#card_2s{ background-position: -1414px -1116px; }
#card_3s{ background-position: -1616px -1395px; }
#card_4s{ background-position: -1818px -1674px; }
#card_5s{ background-position: -808px 0px; }
#card_6s{ background-position: -1010px -279px; }
#card_7s{ background-position: -1212px -558px; }
#card_8s{ background-position: -1414px -837px; }
#card_9s{ background-position: -1616px -1116px; }
#card_Ts{ background-position: -1818px -1395px; }
#card_Js{ background-position: -1010px 0px; }
#card_Qs{ background-position: -1212px -279px; }
#card_Ks{ background-position: -1414px -558px; }

/*Clubs*/
#card_Ac{ background-position: 0px -837px; }
#card_2c{ background-position: -202px -1116px; }
#card_3c{ background-position: -404px -1395px; }
#card_4c{ background-position: -606px -1674px; }
#card_5c{ background-position: 0px -558px; }
#card_6c{ background-position: -202px -837px; }
#card_7c{ background-position: -404px -1116px; }
#card_8c{ background-position: -606px -1395px; }
#card_9c{ background-position: -808px -1674px; }
#card_Tc{ background-position: 0px -279px; }
#card_Jc{ background-position: -202px -558px; }
#card_Qc{ background-position: -404px -837px; }
#card_Kc{ background-position: -606px -1116px; }

/*Card Back*/
#card_back{ background-position: 0px -1116px; }
