h1 {
  color: red;
  text-align: center;
}

.player {
  text-align: center;
  margin: 35% auto;
}

.cards {
    background: url(images/carddeck.png);
    width: 204px;
    height: 282px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 10px;
}

@media (min-width:761px){
  .cards {
      background: url(images/carddeck.png);
      width: 204px;
      height: 282px;
      border: none;
      outline: none;
      cursor: pointer;
      margin: 10px;
      zoom: 0.5;
  }
}

@media (max-width:760px){
  .cards {
      background: url(images/carddeck.png);
      width: 204px;
      height: 282px;
      border: none;
      outline: none;
      cursor: pointer;
      margin: 10px;
      zoom: 0.35;
  }
}
